<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Comment Edit Page</title>
</head>
<body>

<div>
    <a href="/posts">Home</a>
    <br>
    <br>
    <h2>Comment Create Page</h2>

    <form method="post" action="/posts/{{postIdT}}/comments/update">
        <input type="hidden" name="id" value="{{comments.id}}"/><br/>
        <input type="text" name="commentBody" value="{{comments.commentBody}}"/><br/>
        <input type="hidden" name="postId" value="{{comments.postId}}"/><br/>

        <input type="submit"/>
    </form>

</div>

</body>
</html>