<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Post Create Commit</title>
</head>
<body>

<div>
    <a href="/posts">Home</a>
    <br>
    <br>
    <h2>Post Create Comment</h2>

    <form method="post" action="/posts/{{postIdT}}/comments">
        <input type="text" name="commentBody"/><br/>
        <input type="submit"/>
    </form>

</div>

</body>
</html>