<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Comment Page</title>
</head>
<body>

<div>
    <a href="/posts">Home</a>
    <br/>
    <br/>
    <h2>Comment Page</h2>
    <br/>
    <p>{{comments.commentBody}}

</div>

</body>
</html>