<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Post Edit Page</title>
</head>
<body>

<div>
    <a href="/posts">Home</a>
    <br>
    <br>
    <h2>Post Create Page</h2>

    <form method="post" action="/posts/update">
        <input type="hidden" name="id" value="{{posts.id}}"/><br/>
        <input type="text" name="title" value="{{posts.title}}"/><br/>
        <input type="text" name="content" value="{{posts.content}}"/><br/>
        <input type="submit"/>
    </form>

</div>

</body>
</html>