<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Posts Page</title>
</head>
<body>

<div>
    <a href="/posts">Home</a>
    <br>
    <br>
    <h2>Posts Page</h2>
    <a href="/posts/create">Create</a>

    <ul>
        {{#posts}}
        <li>{{title}} <a href="/posts/{{id}}">View</a>
                      <a href="/posts/edit/{{id}}">Edit</a>
                      <a href="/posts/delete/{{id}}">Delete</a><br/></li>
        {{/posts}}
    </ul>

    <div>
        <nobr>
            {{#hasPrev}}<a href="/posts?page={{prev}}">Prev</a>&nbsp;&nbsp;&nbsp;{{/hasPrev}}
            {{#hasNext}}<a href="/posts?page={{next}}">Next</a>{{/hasNext}}
        </nobr>
    </div>

</div>

</body>
</html>