<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Post Page</title>
</head>
<body>

<div>
    <a href="/posts">Home</a>
    <br/>
    <br/>
    <h2>Post Page</h2>
    <br/>
    <h2>{{posts.title}}</h2>
    <br/>
    <p>{{posts.content}}

    <br/>
    <a href="/posts/{{posts.id}}/comments/create">create comment</a>


    <ul>
        {{#commentsPostId}}
        <li>{{commentBody}} <a href="/posts/{{posts.id}}/comments/{{id}}">View</a>
                            <a href="/posts/{{posts.id}}/comments/edit/{{id}}">Edit</a>
                            <a href="/posts/{{posts.id}}/comments/delete/{{id}}">Delete</a><br/></li>
        {{/commentsPostId}}
    </ul>





</div>

</body>
</html>